
// 全ページ
body{
	position: relative;
	animation: fadeAnime 3s forwards;
	@include min(768){animation: fadeAnime 2s forwards;}

	main{
		position: absolute;
		top: 0;
	}
}

// 1. TOPページ
.p-top{
	position: relative;
	width: 100%;
	background-size: 15px 15px;
	background-image: linear-gradient(
		-45deg,
		$site-color01, $site-color01 48.5%,
		white 49.5%, white 50.5%,
		$site-color01 51.5%, $site-color01
	) ;
	animation: fadeAnime 3s forwards;
	@include min(768){
		background-size: 30px 30px;
		animation: fadeAnime 2s forwards;
	}
}