// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

#c06{
	.row{
		background: $site-color02;
		.point{
			width: 28%;
			max-width: 180px;
			margin: 0 auto 0 0;
			padding: 2px 10px;
			background: $main-color--w;
			border-radius: 30px;
		}
	}
}
#c07{
	.contentBox{
		position: relative;
		&-title{
			position: absolute;
			top: -11%;
			left: 50%;
			transform: translateX(-50%);
			width: 75%;
			max-width: 700px;
			background: $site-color02;
			margin: 0 auto;
			border-radius: 10px;
		}
		&-In{
			width: 100%;
			background: $site-color01;
			padding: 5% 2% 3%;
			margin-top: -3%;
			border-radius: 10px;
		}
		.point{
			width: 35%;
			max-width: 180px;
			margin: 0 auto 0 0;
			padding: 2px 10px;
			background: $main-color--w;
			border-radius: 30px;
		}
	}
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(500){width: 75%;}
		@include min(768){width: 85%;}
		@include min(1600){max-width: 1200px;}
	}

	&.-bg-lightBlue01{background: $site-color01;}
	&.-bg-lightBlue02{background: $site-color05;}
	&.-bg-white      {background: $main-color--w;}
	&.-bg-blue       {background: $site-color02;}
	&.-bg-green      {background: $site-color03;}
	&.-bg-orange     {background: $site-color04;}

	&.-f-view{//ファーストビュー
		position: relative;
		.c-contentsBox{
			position: absolute;
			&.-fv-btn{
				top: 85%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 55%;
				@include min(768){
					top: 85%;
					left: 34%;
					width: 20%;
				}
			}
		}
	}

	&.-imgBg{//背景画像
		position: relative;
		&.-bg{//背景画像が大きくなると、コンテンツが間延びしてしまう場合
			&.-c02{
				overflow: hidden;
				.imgBox{@include min(768){max-height: 1000px;}}
			}
			&.-c03 .Bg{
				min-height: 1050px;
				@include min(500) {min-height: 1150px;}
				@include min(600) {min-height: 1320px;}
				@include min(768) {min-height: 1340px;}
				@include min(1100){min-height: 1740px;}
				@include min(1200){min-height: 2080px;}
				@include min(1600){min-height: 2310px;}
			}
			&.-c04{
				overflow: hidden;
				.Bg{
					@include min(768){max-height: 600px;}
				}
			}
			&.-campaign{
				.imgBox{@include min(768){max-height: 750px;}}
			}
		}
		.c-contentsBox{
			position: absolute;
			// 要素の真ん中
			&.-center{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				// height: 100%;
			}
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 54%;
					left: 95.5%;
					width: 5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 45%;
					left: 100%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// コンテンツ関係
			&.-contents-body{//.c-contents-innerと併用
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100%;
				@include max(768){
					width: 90%;
				}
			}
			&.-contents01{
				&-item01{//

				}
				&-item02{//

				}
			}
			&.-contents02{
				&-title{
					top: 20%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}
			}
			&.-contents05{
				&-title{
					top: 21%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}
				&-blueBox{
					top: 53%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 95%;

					padding: 4% 5px;
					background: $site-color02;
					border-radius: 20px;
				}
				&-text{
					top: 88%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}
			}
			.-contents05-whiteBox{
				padding: 2.5% 0;
				background: $main-color--w;
				border-radius: 20px;
			}

		}
	}

	&.-returnBtn{// 戻るボタン
		a{
			display: block;
			width: 20%;
			border-radius: 5px;
			overflow: hidden;
			margin: auto;
			text-align: center;
			box-shadow: 1px 1px gray;
			@include min(768){width: 6%;}
			@include min(1400){width: 7%;}
		}
	}
}