// ヘッダー
.c-header{
	width: 50%;
	height: auto;
	box-sizing: border-box;
	transition: padding .3s;
	@include min(500){
		width: 90%;
		max-width: 1100px;
	}
	@include min(1600){width: 70.4%;}
	&.-fixed{//固定
		position: fixed;
		top: 1.5%;
		left: 5%;
		z-index: 999;
		@include min(500){
			top: 5%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&-wrapper{
		margin: auto;
		align-items: center;
		@include min(500){padding: 8px 0px 10px;}
	}

}
