// ヘッダー
.c-header{
	width: 50%;
	height: auto;
	box-sizing: border-box;
	transition: padding .3s;
	@include min(500){width: 85%;}
	@include min(768){width: 82.5%;}
	@include min(1600){max-width: 1120px;}

	&.-fixed{//固定
		position: fixed;
		top: 10px;
		left: 5%;
		z-index: 999;
		@include min(768){
			top: 25px;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}
	&-wrapper{
		margin: auto;
		align-items: center;
		@include min(500){padding: 8px 0px 10px;}
	}

}
