// リンク関係（aタグ）

.c-link{
	&.-nav{
		display: block;
		width: auto;
		transition: all 0.5s;
		&:hover{ transform: scale(1.05); }
	}
	&.-contact{
		display: block;
		width: auto;
		height: auto;
		box-shadow: 4px 4px 11px #00000030;
		transition: all 0.5s;
		.c-contents{
			overflow: hidden;
			.imgBox{transition: all 0.5s;}
		}
		img{
		}
		&:hover{
			transform: scale(1.05);
			.c-contents{
				.imgBox{transform: scale(1.05);}
			}
		}
	}
	&.-img{
		display: block;
        transform: scale(1);
        transition-duration: 0.5s;
		transition: all 0.5s ease-in-out;
        overflow: hidden;
		&:hover{
			transform: scale(1.025);
			transition-duration: 0.2s;
			// box-shadow: 1px 1px 4px 0px $item-hover--bg;
		}
	}
	&.-btn{
		display: inline-block;
		width: auto !important;
		background: $site-color02;
		padding: 10px 15px;
		border-radius: 30px;
		overflow: hidden;
		transition: all .5s;

		&:hover{
			background: $site-color03;
			transform: scale(1.025);
		}
	}
	&.-header{
		display: block;
		transition: all .5s;
		&:hover{
			transform: scale(1.05);
		}
	}

	&.-c-color{
		@include min(768){
			transition: 1s all;
			span{transition: 1s all;}
			&:hover{
				span{ color: $site-color01;}
				
			}
		}
	}
}