// ナビゲーション（nav）
.c-hnav{
	padding: 0 0 0 5%;
	// ナビゲーション関係
	.navItem{
		width: auto;
		margin: 0 5px;
	}
	&--link{
		position: relative;
		&::before{
			content: "";
			width: 0;
			height: 1px;
			background: $main-color--w;
			border-radius: 5px;

			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			transition: all .5s;
		}
		&:hover{
			color: $site-color03;
			&::before{
				width: 100%;
				background: $site-color03;
				opacity: 1;
			}
		}
		&.-arcive{
			padding-right: 15px;
			&::after{
				content: "";
				width: 10px;
				height: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: $main-color--b;
				clip-path: polygon(0 0, 50% 100%, 100% 0);
				transition: all .5s;
			}
			&:hover{
				&::after{
					background: $site-color03;
				}
			}
		}
	}
	&--contact{
		display: block;
		width: auto;
		padding:5px 18px 5px 20px;
		@include min(500){
			padding: 7% 0;
		}
	}
}

.c-hamburger{
	
}