
// コンテンツ_メインタイトル
.c-contents--title{// s-L相当
    position: relative;
    font-size: clamp(2.2rem, 2vw, 2.5rem);
    font-weight: bold;
    text-align: center;
    padding: 0 1px;


    // コンテンツタイトル > 英語表記
    &::before{
        content: "";
        position: absolute;
        top: -40%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: .1rem;
        @include min(768) {
            top: -35%;
            font-size: 14px;
            letter-spacing: .2rem;
        }
    }
    &.-row2  {&::before{@include min(768){ bottom: -30%; }}}
    &.-row2_s{&::before{@include max(768){ bottom: -40%; }}}

    // コンテンツタイトル > ボーダーライン
    &.-b-btm{
        &::after{// 基本設定
            content: "";
            display: block;
            position: relative;
            bottom: -29px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1100px;
            height: 1px;
            background: $main-color--b;
            @include min(768){
                bottom: -30px;
            }
        }
        // 色指定
        &.-c01{&::after{background: $site-color01 !important;}}
        &.-c02{&::after{background: $site-color02 !important;}}
        &.-c03{&::after{background: $site-color03 !important;}}
        &.-c04{&::after{background: $site-color04 !important;}}
    }


    // コンテンツタイトル > 英語表記 > カラー設定
    &.-en-color01{&::before{color: $site-color01;}}
    &.-en-color02{&::before{color: $site-color02;}}
    &.-en-color03{&::before{color: $site-color03;}}
    &.-en-color04{&::before{color: $site-color04;}}

    // コンテンツタイトル > 英語表記
    &.-interview{&::before{content: "User Interview"; white-space: nowrap;}}// インタビュー
    &.-news     {&::before{content: "Information"; white-space: nowrap;}}   //お役立ち情報
    &.-contact  {&::before{content: "Contact"; white-space: nowrap;}}       //お役立ち情報

}

.c-contents--description{
    text-align: center;
    letter-spacing: .2rem;
    line-height: 1.5;
}

.c-post--title{
    font-size: clamp(2.2rem, 2vw, 2.5rem);
    font-weight: bold;
    text-align: center;
    padding: 0 1px;
}